# ============================================
# Zyllen Gestão — Environment Variables
# ============================================

# Database
DATABASE_URL="file:./dev.db"

# JWT
JWT_SECRET="change-me-in-production-min-32-chars"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN="7d"

# API
API_PORT=3001
NODE_ENV=development

# Web
NEXT_PUBLIC_API_URL=http://localhost:3001
